@media (max-width:1397px) and (min-width:1382px){
    .contenucentral2 {
        width: 100%;
        height: 2165px;
        background-color: black;
        background-image: url(/ressources/kitchen-2400367.jpg);
        background-position: center;
        background-size: cover;
        padding: 1px;
    
    }
    
    .contenucentral2 .contenu2 {
        width: 1220px;
        height: 1900px;
        background-color: rgba(0, 0, 0, 0.565);
        margin: 0 auto;
        margin-top: 200px;
        padding: 30px;
    
    }
    
    .contenucentral2 .contenu2 img {
        width: 500px;
        height: 400px;
        margin-left: 70px;
        margin-top: 15px;
    }
    
    .contenucentral2 h1 {
        color: white;
        font-weight: bold;
        position: absolute;
        top: 130px;
        font-size: 28px;
        left: 450px;
        font-family: 'raleway',sans-serif;
    
    }
    
    .contenucentral2 .contenu2 h2 {
        color: white;
        font-size: 20px;
    }
    
    .contenucentral2 .contenu2 #prums {
        color: rgba(255, 255, 255, 0.842);
        width: 1000px;
    }
    
    .contenucentral2 .contenu2 p {
        color: rgba(255, 255, 255, 0.842);
        font-family: 'raleway',sans-serif;
    
    
    } 
    
    
}
@media (max-width:1381px) and (min-width:1350px){
    .contenucentral2 {
        width: 100%;
        height: 2165px;
        background-color: black;
        background-image: url(/ressources/kitchen-2400367.jpg);
        background-position: center;
        background-size: cover;
        padding: 1px;
    
    }
    
    .contenucentral2 .contenu2 {
        width: 1220px;
        height: 1900px;
        background-color: rgba(0, 0, 0, 0.565);
        margin: 0 auto;
        margin-top: 200px;
        padding: 30px;
    
    }
    
    .contenucentral2 .contenu2 img {
        width: 500px;
        height: 400px;
        margin-left: 70px;
        margin-top: 15px;
    }
    
    .contenucentral2 h1 {
        color: white;
        font-weight: bold;
        position: absolute;
        top: 130px;
        font-size: 28px;
        left: 450px;
        font-family: 'raleway',sans-serif;
    
    }
    
    .contenucentral2 .contenu2 h2 {
        color: white;
        font-size: 20px;
    }
    
    .contenucentral2 .contenu2 #prums {
        color: rgba(255, 255, 255, 0.842);
        width: 1000px;
    }
    
    .contenucentral2 .contenu2 p {
        color: rgba(255, 255, 255, 0.842);
        font-family: 'raleway',sans-serif;
    
    
    }   
}
@media (max-width:1349px) and (min-width:1300px){
    .contenucentral2 {
        width: 100%;
        height: 2165px;
        background-color: black;
        background-image: url(/ressources/kitchen-2400367.jpg);
        background-position: center;
        background-size: cover;
        padding: 1px;
    
    }
    
    .contenucentral2 .contenu2 {
        width: 1220px;
        height: 1900px;
        background-color: rgba(0, 0, 0, 0.565);
        margin: 0 auto;
        margin-top: 200px;
        padding: 30px;
    
    }
    
    .contenucentral2 .contenu2 img {
        width: 500px;
        height: 400px;
        margin-left: 70px;
        margin-top: 15px;
    }
    
    .contenucentral2 h1 {
        color: white;
        font-weight: bold;
        position: absolute;
        top: 130px;
        font-size: 28px;
        left: 370px;
        font-family: 'raleway',sans-serif;
    
    }
    
    .contenucentral2 .contenu2 h2 {
        color: white;
        font-size: 20px;
    }
    
    .contenucentral2 .contenu2 #prums {
        color: rgba(255, 255, 255, 0.842);
        width: 1000px;
    }
    
    .contenucentral2 .contenu2 p {
        color: rgba(255, 255, 255, 0.842);
        font-family: 'raleway',sans-serif;
    
    
    } 
}
@media (max-width:1299px) and (min-width:1280px){
    .contenucentral2 {
        width: 100%;
        height: 2165px;
        background-color: black;
        background-image: url(/ressources/kitchen-2400367.jpg);
        background-position: center;
        background-size: cover;
        padding: 1px;
    
    }
    
    .contenucentral2 .contenu2 {
        width: 1220px;
        height: 1900px;
        background-color: rgba(0, 0, 0, 0.565);
        margin: 0 auto;
        margin-top: 200px;
        padding: 30px;
    
    }
    
    .contenucentral2 .contenu2 img {
        width: 500px;
        height: 400px;
        margin-left: 70px;
        margin-top: 15px;
    }
    
    .contenucentral2 h1 {
        color: white;
        font-weight: bold;
        position: absolute;
        top: 130px;
        font-size: 28px;
        left: 400px;
        font-family: 'raleway',sans-serif;
    
    }
    
    .contenucentral2 .contenu2 h2 {
        color: white;
        font-size: 20px;
    }
    
    .contenucentral2 .contenu2 #prums {
        color: rgba(255, 255, 255, 0.842);
        width: 1000px;
    }
    
    .contenucentral2 .contenu2 p {
        color: rgba(255, 255, 255, 0.842);
        font-family: 'raleway',sans-serif;
    
    
    }  
    
}
@media (max-width:1279px) and (min-width:1080px){
    .contenucentral2 {
        width: 100%;
        height: 2165px;
        background-color: black;
        background-image: url(/ressources/kitchen-2400367.jpg);
        background-position: center;
        background-size: cover;
        padding: 1px;
    
    }
    
    .contenucentral2 .contenu2 {
        width: 1060px;
        height: 1800px;
        background-color: rgba(0, 0, 0, 0.565);
        margin: 0 auto;
        margin-top: 200px;
        padding: 30px;
    
    }
    
    .contenucentral2 .contenu2 img {
        width: 400px;
        height: 300px;
        margin-left: 70px;
        margin-top: 15px;
    }
    
    .contenucentral2 h1 {
        color: white;
        font-weight: bold;
        position: absolute;
        top: 130px;
        font-size: 28px;
        left: 300px;
        font-family: 'raleway',sans-serif;
    
    }
    
    .contenucentral2 .contenu2 h2 {
        color: white;
        font-size: 20px;
    }
    
    .contenucentral2 .contenu2 #prums {
        color: rgba(255, 255, 255, 0.842);
        width: 1000px;
    }
    
    .contenucentral2 .contenu2 p {
        color: rgba(255, 255, 255, 0.842);
        font-family: 'raleway',sans-serif;
    
    
    }   
    
}
@media (max-width:1079px) and (min-width:1024px){
    .contenucentral2 {
        width: 100%;
        height: 2165px;
        background-color: black;
        background-image: url(/ressources/kitchen-2400367.jpg);
        background-position: center;
        background-size: cover;
        padding: 1px;
    
    }
    
    .contenucentral2 .contenu2 {
        width: 1000px;
        height: 1800px;
        background-color: rgba(0, 0, 0, 0.565);
        margin: 0 auto;
        margin-top: 200px;
        padding: 30px;
    
    }
    
    .contenucentral2 .contenu2 img {
        width: 380px;
        height: 300px;
        margin-left: 70px;
        margin-top: 15px;
    }
    
    .contenucentral2 h1 {
        color: white;
        font-weight: bold;
        position: absolute;
        top: 130px;
        font-size: 28px;
        left: 280px;
        font-family: 'raleway',sans-serif;
    
    }
    
    .contenucentral2 .contenu2 h2 {
        color: white;
        font-size: 20px;
    }
    
    .contenucentral2 .contenu2 #prums {
        color: rgba(255, 255, 255, 0.842);
        width: 1000px;
    }
    
    .contenucentral2 .contenu2 p {
        color: rgba(255, 255, 255, 0.842);
        font-family: 'raleway',sans-serif;
    
    
    }   

}
@media (max-width:1023px) and (min-width:834px){
    .contenucentral2 {
        width: 100%;
        height: 2165px;
        background-color: black;
        background-image: url(/ressources/kitchen-2400367.jpg);
        background-position: center;
        background-size: cover;
        padding: 1px;
    
    }
    
    .contenucentral2 .contenu2 {
        width: 814px;
        height: 1900px;
        background-color: rgba(0, 0, 0, 0.565);
        margin: 0 auto;
        margin-top: 200px;
        padding: 30px;
    
    }
    
    .contenucentral2 .contenu2 img {
        width: 350px;
        height: 300px;
        margin-left: 20px;
        margin-top: 15px;
    }
    
    .contenucentral2 h1 {
        color: white;
        font-weight: bold;
        position: absolute;
        top: 130px;
        font-size: 28px;
        left: 170px;
        font-family: 'raleway',sans-serif;
    
    }
    
    .contenucentral2 .contenu2 h2 {
        color: white;
        font-size: 20px;
    }
    
    .contenucentral2 .contenu2 #prums {
        color: rgba(255, 255, 255, 0.842);
        width: 750px;
    }
    
    .contenucentral2 .contenu2 p {
        color: rgba(255, 255, 255, 0.842);
        font-family: 'raleway',sans-serif;
    
    
    }   

}
@media (max-width:833px) and (min-width:744px){
    .contenucentral2 {
        width: 100%;
        height: 2365px;
        background-color: black;
        background-image: url(/ressources/kitchen-2400367.jpg);
        background-position: center;
        background-size: cover;
        padding: 1px;
    
    }
    
    .contenucentral2 .contenu2 {
        width: 724px;
        height: 2100px;
        background-color: rgba(0, 0, 0, 0.565);
        margin: 0 auto;
        margin-top: 200px;
        padding: 15px;
    
    }
    
    .contenucentral2 .contenu2 img {
        width: 330px;
        height: 300px;
        margin-left: 10px;
        margin-top: 15px;
    }
    
    .contenucentral2 h1 {
        color: white;
        font-weight: bold;
        position: absolute;
        top: 130px;
        font-size: 28px;
        left: 130px;
        font-family: 'raleway',sans-serif;
    
    }
    
    .contenucentral2 .contenu2 h2 {
        color: white;
        font-size: 20px;
    }
    
    .contenucentral2 .contenu2 #prums {
        color: rgba(255, 255, 255, 0.842);
        width: 700px;
    }
    
    .contenucentral2 .contenu2 p {
        color: rgba(255, 255, 255, 0.842);
        font-family: 'raleway',sans-serif;
    
    
    }  
}
